<div class="app-bar">
  <img src="assets/chart_logo.png" alt="Logo" class="logo-image" />
  <div class="app-title">Charts</div>
</div>

<div class="main-container">
  <div class="image-container">
    <img src="assets/chart_logo.png" alt="Logo" class="logo-image" />
    <div class="logo-subtext">Look into different kinds of charts</div>
  </div>

  <div class="vertical-line"></div>

  <div class="form-container">
    <h3 class="page-title">SIGN UP</h3>

    <form class="main-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div>
        <div
          class="input-container"
          [ngClass]="{
            'error-input-container': getErrorForControl('mobileNumber')
          }"
        >
          <input
            type="number"
            placeholder="Enter Mobile Number"
            formControlName="mobileNumber"
          />
        </div>

        <div class="input-error-message">
          <ng-container *ngIf="getErrorForControl('mobileNumber')">
            Invalid Mobile Number
          </ng-container>
        </div>
      </div>

      <div>
        <div
          class="input-container"
          [ngClass]="{
            'error-input-container':
              getErrorForControl('pin') || getErrorForPinMisMatch()
          }"
        >
          <input
            [type]="showPin ? 'number' : 'password'"
            placeholder="Enter 6 Digit Pin"
            formControlName="pin"
          />
          <img
            class="input-img"
            [src]="showPin ? 'assets/eye_on.png' : 'assets/eye_off.png'"
            (click)="showPin = !showPin"
            alt="Toggle Pin"
          />
        </div>

        <div class="input-error-message">
          <ng-container *ngIf="getErrorForControl('pin')">
            Invalid PIN
          </ng-container>
        </div>
      </div>

      <div>
        <div
          class="input-container"
          [ngClass]="{
            'error-input-container':
              getErrorForControl('confirmPin') || getErrorForPinMisMatch()
          }"
        >
          <input
            [type]="showConformPin ? 'number' : 'password'"
            placeholder="Re-Enter 6 Digit Pin"
            formControlName="confirmPin"
          />
          <img
            class="input-img"
            [src]="showConformPin ? 'assets/eye_on.png' : 'assets/eye_off.png'"
            (click)="showConformPin = !showConformPin"
            alt="Toggle Passowrd"
          />
        </div>

        <div class="input-error-message">
          <ng-container *ngIf="getErrorForControl('confirmPin')">
            Invalid PIN
          </ng-container>
        </div>
      </div>

      <div
        *ngIf="
          signUpForm.get('pin')?.valid &&
          signUpForm.get('confirmPin')?.valid &&
          signUpForm.errors
        "
        class="input-error-message"
      >
        <ng-container *ngIf="signUpForm.errors?.['pinsDontMatch']">
          PIN and PIN Conformation must match
        </ng-container>

        <ng-container *ngIf="signUpForm.errors?.['accountExists']">
          Account exists for this number
        </ng-container>
      </div>

      <button
        class="auth-submit-button"
        [ngClass]="{
          'auth-submit-button-disabled':
            signUpForm.get('mobileNumber')?.invalid ||
            signUpForm.get('pin')?.invalid ||
            signUpForm.get('confirmPin')?.invalid ||
            apiHit
        }"
        [disabled]="
          signUpForm.get('mobileNumber')?.invalid ||
          signUpForm.get('pin')?.invalid ||
          signUpForm.get('confirmPin')?.invalid ||
          apiHit
        "
      >
        SIGN UP
      </button>
    </form>

    <div class="auth-prompt">
      <span class="auth-prompt-text" routerLink="/signin">
        Already have an account? SIGN IN
      </span>
    </div>
  </div>
</div>
