<div class="main-container">
  <div>
    <img src="assets/chart_logo.png" alt="Logo" class="logo-image" />
    <div class="logo-subtext">Look into different kinds of charts</div>
  </div>
  <div class="vertical-line"></div>
  <div class="form-container">
    <h3 class="page-title">SIGN IN TO YOUR ACCOUNT</h3>
    <form class="main-form">
      <div class="input-container">
        <input type="text" placeholder="Mobile Number" />
      </div>
      <div class="input-container">
        <input type="text" placeholder="MPin" />
        <img class="input-img" src="assets/eye_on.png" alt="" />
      </div>
      <div class="forgot-password">Forgot your password?</div>
      <button class="sign-in-button">SIGN IN</button>
    </form>
    <div class="signup-prompt-text">Don’t have a Account? SIGNUP</div>
  </div>
</div>
