<div class="app-bar">
  <img src="assets/chart_logo.png" alt="Logo" class="logo-image" />
  <div class="app-title">Charts</div>
</div>

<div class="main-container">
  <div class="image-container">
    <img src="assets/chart_logo.png" alt="Logo" class="logo-image" />
    <div class="logo-subtext">Look into different kinds of charts</div>
  </div>

  <div class="vertical-line"></div>

  <div class="form-container">
    <h3 class="page-title">SIGN IN TO YOUR ACCOUNT</h3>

    <form class="main-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="input-main-container">
        <div
          class="input-container"
          [ngClass]="{
            'error-input-container': getErrorForControl('mobileNumber')
          }"
        >
          <input
            type="number"
            placeholder="Enter Mobile Number"
            formControlName="mobileNumber"
          />
        </div>

        <div class="input-error-message">
          <ng-container *ngIf="getErrorForControl('mobileNumber')">
            Invalid Phone Number
          </ng-container>
        </div>
      </div>

      <div>
        <div
          class="input-container"
          [ngClass]="{ 'error-input-container': getErrorForControl('pin') }"
        >
          <input
            [type]="showPin ? 'number' : 'password'"
            placeholder="Enter 6 Digit Pin"
            formControlName="pin"
          />
          <img
            class="input-img"
            [src]="showPin ? 'assets/eye_on.png' : 'assets/eye_off.png'"
            (click)="showPin = !showPin"
            alt="Toggle Pin"
          />
        </div>

        <div class="input-error-message">
          <ng-container *ngIf="getErrorForControl('pin')">
            Invalid PIN
          </ng-container>
        </div>
      </div>

      <div class="forgot-password">Forgot your password?</div>

      <div *ngIf="signInForm.errors" class="input-error-message">
        Either Mobile Number or PIN is Wrong
      </div>

      <button
        class="auth-submit-button"
        [ngClass]="{
          'auth-submit-button-disabled':
            signInForm.get('mobileNumber')?.invalid ||
            signInForm.get('pin')?.invalid ||
            apiHit
        }"
        [disabled]="
          signInForm.get('mobileNumber')?.invalid ||
          signInForm.get('pin')?.invalid ||
          apiHit
        "
      >
        SIGN IN
      </button>
    </form>

    <div class="auth-prompt">
      <span class="auth-prompt-text" routerLink="/signup">
        Don’t have a Account? SIGNUP
      </span>
    </div>
  </div>
</div>
